.timer {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    font-family: inherit;
    // position: relative;
}