.options {
    width: 800px;
    > button {
        font-family: inherit;
        border: 2px solid black;
        border-bottom: none;
        background-color: #fff;
        width: 150px;
        text-align: center;
        font-size: 25px;
        letter-spacing: 1.5px;
        padding: 5px 0 0 0;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: black;
            transition: color 1s, background-color 1s;
        }
        &:active {
            color: rgb(131, 117, 117);
            transition: color 0.1s;
        }
    }
}
