@mixin center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.panel {
    @include center;
    justify-content: space-around;
}

.controlBtn {
    background-color: inherit;
    border: none;
    @include center;
    font-size: 30px;
    font-family: inherit;
    flex-grow: 1;
    width: 33%;
    cursor: pointer;
    > svg {
        margin-right: 5px;
        transform: translatey(-2px);
    }
    &:active {
        transform: translateY(3px);
        transition: transform 0.2s ease;
    }
}
