@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0');

.setUp {
    position: relative;
    top: 50px;

    button {
        background-color: inherit;
        // border: 1px solid black;
        border: none;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    
}

.addHour {
    position: absolute;
    bottom: 400px;
    left: 10%;

}

.subHour {
    position: absolute;
    bottom: 245px;
    left: 10%;
    transform: rotate(180deg);
}

.addMinute {
    position: absolute;
    bottom: 400px;
    left: 43.5%; 
}

.subMinute {
    position: absolute;
    bottom: 245px;
    left: 43.5%;
    transform: rotate(180deg);
}

.addSecond {
    position: absolute;
    bottom: 400px;
    right: 10.5%; 
}

.subSecond {
    position: absolute;
    bottom: 245px;
    right: 10.5%;
    transform: rotate(180deg);
}