@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.organizer {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}

.changeOptionPanel {
    width: 800px;
    display: flex;
}

.btn {
    border: 2px solid black;
    border-bottom: none;
    width: 150px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1.5px;
    padding: 10px 0 0 0;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: black;
        transition: color 1s, background-color 1s;
    }
    &:active{
        color: rgb(131, 117, 117);
        transition: color 0.1s;
    }
}