@mixin center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center
}

.timePanel {
    height: 80%;
    display: flex;
    flex-direction: row;    
    box-sizing: border-box;
}

.timeValueContainer {
    flex-grow: 1;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.timeValue{
    @include center;
    height: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    border-bottom: 2px solid black;
    font-size: 150px;
}

.secondsContainer {
    @extend .timeValueContainer;
    position: relative;
}

.millisec{
    position: absolute;
    font-size: 40px;
    top: 15%;
    right: 15%;
}

.tittle {
    @include center;
    border: 1px solid black;
    border-bottom: 5px solid black;
    font-size: 30px;
}